.policy {
    list-style: none;
    padding: 0;
    margin-top: 20%;
}

.policy > span {
    font-size: 24px;
}

.policy > li > a{
    color: black;
}

.contact {
    list-style: none;
    padding: 0;
    margin-top: 5%;
}

.contact > span {
    font-size: 24px;
}

.contact > li > a{
    color: black;
}

h2.special_title {
    font-family: inherit;
}

@media (max-width: 600px)
{
    .policy {
        margin-top: 5%;
    }

    .contact {
        margin-top: 1%;
    }
}